*,
*::after,
*::before {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 62.5%; //1rem = 10px

    @include respond(lg) {
        font-size: 50%;
    }

    @include respond(md) {
        font-size: 45%;
    }
}

body {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}

.main {
    background-color: $color-back;
}

