.my-btn {
    width: 11rem;
    height: 3.2rem;
    background-color: white;
    border: 1px solid $color-text-grey;
    font-size: 1.1rem;
    color: $color-black;
    font-weight: 500;

    &__blue {
        width: 16rem;
        border-radius: 30px;
        background-color: $color-blue;
        border: 0;
    }

    &__left {
        border-top-left-radius: 30px;
        border-bottom-left-radius: 30px;
        border-right: none;
    }

    &__right {
        border-top-right-radius: 30px;
        border-bottom-right-radius: 30px;
    }

    &__round {
        border-radius: 30px;
        width: 8.2rem;
    }
    
}
.btn__filter {
    border: 0;
    background: none;
    font-size: 1.1rem;
    color: $color-black;
    font-weight: 500;
    cursor: pointer;
}