.my-card {
    width: 100%;
    height: 38rem;
    background: white;
    border-radius: 5px;

    &__img {
        width: 80%;

        &--big {
            width: 100%;
    border-radius: 5px;
            
        }
    }

    &__name {
        font-size: 1.6rem;
        color: $color-black;
    }

    &__color {
        font-size: 1.2rem;
        color: $color-text-grey;
    }

    &__price {
        font-size: 1.4rem;
        color: $color-black;
        &--2 {
            color: $color-filter-grey;
        }
    }

    &__bg {
        background-image: url('/assets/img/backgound.jpg');
        background-size: cover;
        background-position: center;
    }
}